<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://subpop.github.io/mcpinspector/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>n7z2zgbvrfLsvKPfdTqfA/tp8dpY27JS59AIAgBYqi8=</string>
</dict>
</plist>
